.body_container {
  display: grid;
  height: max-content;
  overflow-y: hidden;
  margin-top: 0px;
  margin-bottom: 0px;
}

table, th, td {
  border: 1px solid black;
}

table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}
