body {
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  overflow: hidden;
  font-family: Verdana;
}

.menu_container {
  display: grid;
  grid-template-columns: 150px 2fr 2fr 200px;
  grid-template-rows: repeat(3, minmax(0px, max-content));
  z-index: 1;
}


.body_container {
  max-height: 82vh;
  display: grid;
  grid-template-columns: 1fr 150px 2fr 2fr 100px 1fr;
  grid-template-rows: repeat(4, minmax(20px, max-content));
  grid-gap: 10px;
  z-index: 0;
  overflow-y: scroll;

}
.menu, .submenu, .footer, .resource_one, .pageimg {
  border: 1px solid black;
  border-radius: 15px;
}

.menu, .content, .footer, .pageimg {
  border-radius: 0px;
}

h2 {
  font-size: 16px;
  text-decoration: underline;
}

.openbtn, .theme, #clock, .sidebar a, #smenutxt {
  font-size: 12px;
}
/* header %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/
.header{
  grid-row: 1/1;
  grid-column: 1/5;
  position: relative;
}

.header .headertxt {
  position: absolute;
  margin: 0 auto;
  z-index: 2;
  left: 0;
  right: 0;
  top: 30px; /* Adjust this value to move the positioned div up and down */
  text-align: center;
  width: 100%;
  color: red;
}
canvas#truss {
  background: white;
}
/* menu items %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/
.menu{
  grid-column: 1/5;
  grid-row:: 2/2;
  display: flex;
  background-color: black;
  color: #fff;
  justify-content: space-between;
  font-size: 16px;
}

.openbtn, #clock {
  cursor: pointer;
  background-color: black;
  color: white;
  padding: 5px 5px;
  border: none;
  flex: initial;
  outline: none;
}

.theme {
  cursor: pointer;
  background-color: #5995DA;
  color: Black;
  padding: 5px 5px;
  border: 1px solid white;
  flex: initial;
  outline: none;
}

#rst {
  background-color: red;
}


.openbtn:hover, .theme:hover, #rst:hover {
  background-color: #444;
}


.menu #blankspace {
  flex: 1;
}

/*menubar %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/
.sidebar {
  grid-row: 3/3;
  grid-column: 1/5;
  width: 100%;
  height: 0px;
  z-index: 999;
  background-color: #5995DA;
  overflow-x: hidden;
  overflow-y: hidden;
  transition: 0.5s;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.sidebar a {
  margin: 5px auto;
  margin-top: 15px;
  text-decoration: underline;
  font-size: 16px;
  color: black;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}


/* main contents %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/
.pageimg{
  grid-row: 1/1;
  grid-column: 2/5;
  margin-top: 10px;
  height: 35vh;
}

#pgh {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content{
  height: 1000px;
  grid-row: 2/4;
  grid-column: 3/5;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;

}

#embcontent {
  flex: 1;
  height: 100%;

}

.submenu {
  grid-row: 2/4;
  grid-column: 2/2;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.smenuitem {
  width: 75px;
  height: 75px;
  background-color: #5995DA;
  border: 3px solid #5995DA;
  border-radius: 100px;
  margin: 10px 10px 10px 10px;
  text-align: center;
}

#smenutxt {
  text-decoration: underline;
  margin: 0px 0px 10px 0px;
}

.resource_one {
  grid-row: 1/4;
  grid-column: 5/5;
  margin-top: 10px;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  object-position: center;
  justify-content: space-between;
}

.rmenuitem {
  height: 15%;
  width: 75%;
  background-color: transparent;
  text-align: center;
}

#rsc {
  width: 100%;
  height: 100%;
  object-fit: scale-down;
  transform-origin: bottom;
}

#smenuimg:hover {
  margin-top: 0px;
  margin-bottom: 20px;
  height: 110px;
  width: 110px;
  border: 10px solid black;
  transition: 0.75s;
}


#extraspace {
  height: 300px;
}
.footer {
  text-align:left;
  object-position: left;
  grid-row: 4/5;
  grid-column: 1/7;
  background-color: #5995DA;
}



/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {

}
