.container {
  display: grid;
  grid-template-columns: 150px 2fr 2fr 200px;
  grid-template-rows: repeat(4, minmax(20px, max-content));
  grid-gap: 10px;
}

.menu, .submenu, .content, .footer, .resource_one, .pageimg {
  border: 3px solid black;
  border-radius: 25px;
}

.menu, .content, .footer, .pageimg {
  border-radius: 0px;
}

h1, h2, .menu, .openbtn, .theme {
  font-family: Impact;
}

h2 {
  font-size: 18px;
  text-align: center;
  text-decoration: underline;
}
canvas#truss {
  background: white;
}
a {
  text-decoration: none;
}

/* header %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/
.header{
  grid-row: 1/1;
  grid-column: 1/5;
  position: relative;
}

.header .headertxt {
  position: absolute;
  margin: 0 auto;
  z-index: 999;
  left: 0;
  right: 0;
  top: 20%; /* Adjust this value to move the positioned div up and down */
  text-align: center;
  width: 100%;
  color: red;
}

/* menu items %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/
.menu{
  grid-column: 1/5;
  grid-row:: 2/2;
  overflow: hidden;
  display: flex;
  background-color: black;
  color: #fff;
  justify-content: space-between;
}

.openbtn, #clock, .theme {
  font-size: 12px;
  cursor: pointer;
  background-color: black;
  color: white;
  padding: 5px 5px;
  border: none;
  flex: initial;
}

#rand1 {
  color: purple;
  background-color: white;
}

.openbtn:hover, .theme:hover {
  background-color: #444;
}

.menu #blankspace {
  flex: 1;
}

/* main contents %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/
.submenu {
  grid-row: 5/7;
  grid-column: 1/1;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

}
.smenuitem {
  height: 100px;
  width: 100px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #5995DA;
}

#me {
  background-color: #5995DA;
  border: 3px solid black;
  border-radius: 100px;
}

.pageimg{
  grid-row: 3/5;
  grid-column: 1/4;
  height: 200px;

}

#pgh {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.content{
  grid-row: 5/7;
  grid-column: 2/4;
}

.resource_one {
  grid-row: 3/7;
  grid-column: 4/4;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  object-position: center;
}

.rmenuitem {
  height: 15%;
  width: 75%;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: transparent;
  text-align: center;
}

#rsc {
  width: 100%;
  height: 100%;
  object-fit: scale-down;
}

#rsclink {
  font-size: 24px;
}

.footer {
  grid-row: 7/7;
  grid-column: 1/5;
  background-color: #5995DA;
}

/*experimental%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/
.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: underline;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}
