* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*heading styles %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/
.header-container {
  height: 20%;
  justify-content: center;
  color: red;
  background-color: white;
  border: 1px solid black;
}

.header {
  text-align: center;
  margin: 25px auto;
}

/* menu styles %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
.menu-container {
  color: #fff;
  background-color: white;
}

.menu {
  height: 60px;
  border: 1px solid black;
  overflow: hidden;
}

.link {
  float: left;
  height: 20px;
  background-color: #5995DA;
  text-align: center;
  margin: 2px ;
}

/* main page content %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
.page {
  margin: 0 auto;
  overflow: hidden;
}

.sidebar {
  float: left;
  width: 15%;
  height: 500px;
  background-color: #F09A9D;
  border: 1px solid black;
}

.content {
  float: left;
  width: 85%;
  height: 500px;
  background-color: #F5CF8E;
  padding: 20px;
  border: 1px solid black;
}
